@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded');
.navbar {
    list-style-type: none;
    background-color: chocolate;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: block;
}
.navbar-el, .brand {
    display: inline;
    padding: 10px;
    font-family: "Roboto", sans-serif;
    color:rgb(210, 178, 156);
}
.el {
    cursor: pointer;
}
.navbar-el:hover {
    background-color: rgb(255, 255, 255);
    color: #373636;
    border-radius: 5px;
}
.brand {
    font-weight: 900;
    font-size: larger;
}
a {
    text-decoration: none;
    color: rgb(210, 178, 156);
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    list-style-type: none;
    margin-top: 25px;
    padding: 10px;
}
.dp-ci {
    padding: 10px;
    display: inline;
}
.dp-ci:hover {
    background-color: rgb(206, 157, 125);
    color: #373636;
    border-radius: 5px;
}
.dp-ci:hover a{
    color: #373636;
}
.navbar-el:hover .dropdown-content {
    display: inline;
    left:0;
    right:0;
}
.content-area {
    display: block;
    padding-top: 50px;
}
h1 {
    font-family: "Roboto", sans-serif;
}
.fieldset {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background: #f1f0f0;
    border-radius: 8px;
}
input, textarea {
    display: block;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    border: none;
}
input[type="submit"], input[type="reset"] {
    background-color: rgb(210, 178, 156);
    border: none;
    padding: 10px;
    border-radius: 5px;
    display: inline;
}
input[type="submit"]:hover, input[type="reset"]:hover {
    border: 1px solid rgb(210, 178, 156);
    background-color: transparent;
}
input[type="reset"] {
    margin-left: 0.5px;
}
textarea, input[type="date"] {
    width: 83%;
    font-family: "Roboto", sans-serif;
}
.form-header, .list-header{
    text-align: center;
    padding-top: 10px;
    color: rgb(210, 178, 156);
}
input[type="number"],input[type="text"],input[type="password"]{
    width: 250px;
}
.list-header {
    text-align: left;
    padding-left: 10px;
}
td, table {
    padding: 7px;
    font-family: "Roboto", sans-serif;
}
thead {
    background-color: rgb(210, 178, 156);
    font-weight: 300;
}
table {
    width:100%;
    border-radius: 5px 5px 0 0;
    border-collapse: collapse;
    overflow: hidden;
    color: #373636;
}
tbody tr:nth-of-type(even) {
    background-color: #f4e5e5;
}
tbody tr:hover {
    background-color: #dcd7d7;
}
tbody tr:last-of-type {
    border-bottom: 2px solid rgb(210, 178, 156);
}
.material-symbols-rounded {
    color: #373636;
}
.material-symbols-rounded:hover {
    color: #565555;
}
.paginator-page, .paginator-direction, .paginator-direction-extreme, .paginator-page-selected {
    margin-top: 10px;
    padding: 8px;
    font-size: medium;
    box-shadow: 0px 0px 0px transparent;
    border: 2px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    border-radius: 5px;
    border-color: rgb(210, 178, 156);
}
.paginator-direction-first {
    margin-left: 10px;
}
body {
    font-family: "Roboto", sans-serif;
}
.paginator-direction, .paginator-direction-extreme {
    background-color: rgb(210, 178, 156);
}
.paginator-page-selected {
    background-color: rgb(210, 178, 156);
}
.paginator-direction:hover {
    background-color: rgb(206, 157, 125);
}
.paginator-page:hover{
    background-color: rgb(206, 157, 125);
}
label {
    margin-left: 10px;
}